// Calculates a = x*y
// a is a local variable
// x & y are static variables

// Put your code here.

// Mult.vm

// Static variables
push static x
push static y

// Local variable
push local a

// Initialize the product register
push constant 0
pop register product

// Loop over the multiplier
L1:
push register y
eq
if-false L2

// Add the multiplicand to the product register
push register product
push static x
add
pop register product

// Decrement the multiplier
push constant 1
sub
pop register y

// Jump back to the beginning of the loop
goto L1

L2:
// Store the product register in the local variable `a`
pop local a

// Return
halt
